[submodule "number-flow"]
	path = external/number-flow
	url = https://github.com/FrankChen021/number-flow.git
	branch = local
[submodule "external/cmdk"]
	path = external/cmdk
	url = https://github.com/FrankChen021/cmdk.git
	branch = fix
[submodule "external/clickhouse"]
	path = external/clickhouse
	url = https://github.com/FrankChen021/agent-skills.git
[submodule "external/vizlayer"]
	path = external/vizlayer
	url = https://github.com/FrankChen021/vizlayer.git
	branch = main
